.footer {
    background: rgba(22, 27, 34, 0.411);
    height: 120px;
    margin-top: 40px;
    position: relative;
    z-index: 1;
}

.icon {
     text-align: center;
}
.icon svg{
    font-size: 30px;
   
    margin-left: 5px;
    margin-right: 5px;
    margin-top:20px;
    color: #c9d1d9;
    
}


.icon svg:hover{
    color: white;
    
}

.text p {
    color: #c9d1d9;
    text-align: center;
    font-size: 14;
    font-weight: 400;
    margin: 0;
}

/* responsive design for mobile */

@media (max-width: 480px) { 

    .footer {
        margin: 0;
    }

    .text {
        margin: 0;
    }

    .text p {
        margin: 0;
        font-size: 12px;
        }
}