.inicio {
    display: grid;
    grid-template-columns: 22% 78%;
}

/* .card {
    background: green;
   
} */

.card img {
    border-radius: 50% ;
    width: 280px;
    height: 280px;
    margin-left: 10px;
    margin-top: 40px; 
}

.card h1 {
    color: #c9d1d9;
    margin-left: 25px;
    font-size: 30px;
    margin-bottom: 0;
    font-weight: 600;
}

.card h2 {
    color: #8b949E;
    margin-left: 25px;
    font-size: 22px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
    }

.card p {
    color: #c9d1d9;
    font-size: 22px;
    font-weight: 200px;
    margin-left: 25px;
    margin-top: 3px;
}

.info{
    background: #0d11177e ;
    border: solid 0.3px #8b949e86;
    border-radius:5px;
    margin-top: 50px;
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto ;
}

.info h1{
    color: #c9d1d9;
    text-align: center;
    width: 95%;
    border-bottom: solid 0.3px #8b949E;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    padding: 10px;
}

.info p {
    width: 90%;
    color: #c9d1d9;
    font-weight: 600;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.info h2 {
     color: #c9d1d9;
     margin-left: 30px;

}

.info h3 {
     color: #c9d1d9;
     margin-left: 30px;

}