.inicio {
    display: grid;
    grid-template-columns: 22% 78%;
}

 .card {
    margin-top: 40px;
   
} 

.card img {
    border-radius: 50% ;
    width: 280px;
    height: 280px;
    margin-left: 10px;
    margin-top: 40px; 
}

.card h1 {
    color: #c9d1d9;
    margin-left: 25px;
    font-size: 30px;
    margin-bottom: 0;
    font-weight: 600;
}

.card h2 {
    color: #8b949E;
    margin-left: 25px;
    font-size: 22px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
    }

.card p {
    color: #c9d1d9;
    font-size: 22px;
    font-weight: 200px;
    margin-left: 25px;
    margin-top: 3px;
}

.info{
    background: #0d11177e ;
    border: solid 0.3px #8b949e86;
    border-radius:5px;
    margin-top: 50px;
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto ;
    margin-top: 100px;
}

.info h1{
    color: #c9d1d9;
    text-align: center;
    width: 95%;
    border-bottom: solid 0.3px #8b949E;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    padding: 10px;
}

.info p {
    width: 90%;
    color: #c9d1d9;
    font-weight: 600;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
}

.info h2 {
     color: #c9d1d9;
     margin-left: 40px;

}

.info h3 {
     color: #c9d1d9;
     margin-left: 40px;

}

.skills {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}

.skills article {
    margin-left: 20px;
}

.skills p {
    margin-top: 0;
    text-align: center;
    font-weight: 400;
}

/* responsive design for tablets */

@media (min-width: 768px) and (max-width: 1023px) {

  .inicio {
    width: fit-content;
    display: block;
    margin: 0
  }

  .card {
    margin: 0;
    padding-top: 10px;
  }

  .card_img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .card_img img {
    margin-top: 80px;
  }

  .card_info {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .info {
    margin-top: 10px;
  }
}


/* responsive design for mobile */

@media (max-width: 767px) { 
    .inicio {
        display: block;
        margin: 0
    }

    .card {
        margin: 0;
        display: grid;
        grid-template-rows: 80% 20%;
    
    }

    .card_img {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        margin-bottom: 40px;
    }
    .card_img img {
        width: 200px;
        height: 200px;
    }
    .card h2,
    .card p {
        display: none;
    }

    .card h1{
        margin: 0;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
     }

    .info {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .skills {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-column-gap: 3px;
        
    }

    .skills article{
        margin: 0;
        width: max-content;
    }

    .skills img {
        width: 60px;
        height: 60px;
    }

    .skills p {
        margin-left: 5px;
    }
}
