.portfolio {
    margin: 0;
    padding: 50px;
    height: 100%;
}

.title_portfolio {
    margin-top: 40px;
    border-bottom: 0.5px solid #6e7681;
}

.title_portfolio h1 {
    font-size: 40px;
    color: whitesmoke;
    text-align: center;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}

.title_portfolio h2 {
    color: whitesmoke;
    text-align: center;
    font-weight: 600;
    font-size: 25px;
}

.img_project {
    display: flex;
    align-items: center;
    justify-content: center;
}
.img_project img {
    width: 300px;
    height: 200px;
    
}

.contain_projects {
    margin-top: 40px;   
}

.card_project {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 30% 70%;
    background-color: #161b22cb;
    border: solid 1px #30363d;
    border-radius: 10px;
    transition: background-color 0.9s ease-out;
}

.card_project:hover{
    background-color: #222a36c7;
    border: solid 1.5px #30363d;

}

.content_card_project h2 {     
        font-size: 30px;
        color: #c9d1d9;
}

.content_card_project p {
    font-size: 18px;
    color: #a7adb6;
}

.content_card_project ul {
    display: flex;
    align-items: center;
    justify-content:flex-start;
    list-style: none;
}

.content_card_project li {
    margin-right: 30px;
    width: 10%;
    color: #a7adb6;
}


@media (max-width: 767px) { 

    .portfolio {
    padding: 15px;
}
    .card_project {
        width: 100%;
        display: block;
    }

    .img_project {
        margin-top: 15px;
    }
    .img_project img {
    width: 250px;
    height: 200px;    
    }
    .content_card_project h2 {
        text-align: center;
    }

    .content_card_project p {
        margin-left: 10px;
        margin-right: 10px;
        text-align: justify;
    }
}


@media (min-width: 768px) and (max-width: 1034px) {
    .card_project {
        width: 100%;
        display: block;
    }

    
    .img_project {
        margin-top: 15px;
    }
    .content_card_project h2 {
        text-align: center;
    }

    .content_card_project p {
        margin-left: 10px;
        margin-right: 10px;
        text-align: justify;
    }
}